<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Articles | ArticleSwift</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="shortcut icon" href="/article-icon.svg" type="image/svg" />
  </head>
  <body>
    <header>
      <h1>ArticleSwift</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/article/create">Create new Article</a></li>
          <li><a href="/article">All Articles</a></li>
          <li>
            <button class="logoutbtn" onclick="logout()" type="submit">
              <a href="/login">Log Out</a>
            </button>
          </li>
        </ul>
      </nav>
    </header>
    <h1 class="title">ALL ARTICLES</h1>
    <% articles.forEach(article => { %>
    <div class="box">
      <p>Name: <%= article.name %></p>
      <p>Info: <%= article.info %></p>
      <p>Posted By: <%= article.posted_by %></p>
      <p>Created at: <%= article.createdAt.toLocaleString() %></p>
      <p>Last updated at: <%= article.updatedAt.toLocaleString() %></p>
      <p>Id: <%= article.id %></p>
      <button class="submit">
        <a href="/article/<%= article.id %>/update">Update</a>
      </button>
      <button class="submit">
        <a href="/article/<%= article.id %>/delete">Delete</a>
      </button>
    </div>
    <% }) %>
    <footer>
      <p>&copy; ArticleSwift 2024</p>
      <p>Instagram | Twitter | Discord</p>
    </footer>
    <script>
      function logout() {
        fetch("/logout", {
          method: "POST",
          body: JSON.stringify({ logout: true }),
        }).catch((error) => {
          console.log(error);
        });
      }
    </script>
  </body>
</html>
